{% extends "layout.html"%}
{% block body%}
<h1>This is login page</h1>
<h2><p>if not login yet, jump here to login</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
   <br>
   Account: <input type="text" name="account"><br>
   Password: <input type="text" name="password"><br>
</form>
{% endblock %}