{% extends "layout.html"%}
{% block body%}
<h1>This is your personal source page</h1>
<h2><p>use, save and share by yourself</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
   <button type="submit" name="submit_button" value="home.account">account</button>
</form>
{% endblock %}