{% extends "layout.html"%}
{% block body%}
<h1>This is account page</h1>
<h2><p>login and register</p></h2>
<form action ="" method="POST">
      <button type="submit" name="submit_button" value="home.homepage">home</button>
      <button type="submit" name="submit_button" value="account.achievement">achievement</button>
      <button type="submit" name="submit_button" value="account.login_page">login_page</button>
      <button type="submit" name="submit_button" value="account.personal_source">personal_source</button>
      <button type="submit" name="submit_button" value="account.play_record">play_record</button>
      <button type="submit" name="submit_button" value="account.setting">setting</button>
</form>
{% endblock %}