{% extends "layout.html"%}
{% block body%}
<h1>This is discussion page</h1>
<h2><p>discuss and fight for each other</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
   <button type="submit" name="submit_button" value="forum.play_together">play_together</button>
   <button type="submit" name="submit_button" value="forum.post_article">post_article</button>
   <button type="submit" name="submit_button" value="forum.report">report</button>
   <button type="submit" name="submit_button" value="forum.script">script</button>  
   <button type="submit" name="submit_button" value="forum.share_source">share_source</button>
</form>
{% endblock %}