{% extends "layout.html"%}
{% block body%}
<h1>This is homepage</h1>
<h2><p>welcome to our pageeeee</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.update_notes">update_notes</button>
   <button type="submit" name="submit_button" value="home.knowledge_link">knowledge_link</button>
   <button type="submit" name="submit_button" value="home.forum">forum</button>
   <button type="submit" name="submit_button" value="home.source">source</button>
   <button type="submit" name="submit_button" value="home.account">account</button>
   <button type="submit" name="submit_button" value="home.room_set">room_set</button>
   <button type="submit" name="submit_button" value="account.login_page">login</button>
</form>
{% endblock %}