{% extends "layout.html"%}
{% block body%}
<h1>This is link page</h1>
<h2><p>share your link to drive the car</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
</form>
{% endblock %}