{% extends "layout.html"%}
{% block body%}
<h1>This is room_set page</h1>
<h2><p>want to have a good start play experience</p></h2>
<form action ="" method="POST">
      <button type="submit" name="submit_button" value="home.homepage">home</button>
      <button type="submit" name="submit_button" value="room_set.choose_model">choose_model</button>
</form>
{% endblock %}