{% extends "layout.html"%}
{% block body%}
<h1>This is source page</h1>
<h2><p>store and use by yourself</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
   <button type="submit" name="submit_button" value="source.background">background</button>
   <button type="submit" name="submit_button" value="source.object">object</button>
   <button type="submit" name="submit_button" value="source.role">role</button>
</form>
{% endblock %}