{% extends "layout.html"%}
{% block body%}
<h1>This is notes page</h1>
<h2><p>record credits' update notes</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
</form>
{% endblock %}