{% extends "layout.html"%}
{% block body%}
<h1>This is bystander playing page</h1>
<h2><p>watch everyone</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
</form>
<h2><p>watch everyone play</p></h2>
{% endblock %}