{% extends "layout.html"%}
{% block body%}
<h1>This is choose model to play page</h1>
<h2><p>bystander or login</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
   <button type="submit" name="submit_button" value="room_set.playing">playing</button>
   <button type="submit" name="submit_button" value="room_set.bystander">bystander</button>   
</form>
{% endblock %}