{% extends "layout.html"%}
{% block body%}
<h1>This is ending page</h1>
<h2><p>everyone end playing</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
</form>
<u>download playing record</u><br>
<u>outport role card</u><br>
<u>share</u><br>
<u>other content</u><br>
{% endblock %}