{% extends "layout.html"%}
{% block body%}
<h1>This is playing page</h1>
<h2><p>everyone playing</p></h2>
<form action ="" method="POST">
    <button type="submit" name="submit_button" value="home.homepage">home</button>
    <button type="submit" name="submit_button" value="room_set.end">end</button>
</form>
<h2><p>play with everone</p></h2>
<u>import source</u><br>
<u>roll the dice</u><br>
<u>instruction</u><br>
<u>other content</u><br>
{% endblock %}