{% extends "layout.html"%}
{% block body%}
<h1>This is the sharing of object page</h1>
<h2><p>share objects to everyone</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
   <button type="submit" name="submit_button" value="home.source">source</button>
</form>
{% endblock %}