{% extends "layout.html"%}
{% block body%}
<h1>This is post article page</h1>
<h2><p>want to post article to discuss each other</p></h2>
<form action ="" method="POST">
   <button type="submit" name="submit_button" value="home.homepage">home</button>
   <button type="submit" name="submit_button" value="home.forum">forum</button>
</form>
{% endblock %}